# Ignore all Jupyter Notebook files
*.ipynb

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python cache
__pycache__/
*.pyc

# Geocoding coordinate cache
lot_coordinates.json

